VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjZWZ1aWd2bmdvZnh3c3Fsb2RpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4NzYxMzcsImV4cCI6MjA3NDQ1MjEzN30.Caj2GBM6I99IXFTvcPmTx28xKcA5nxqlkisb6m4CSNU"
VITE_SUPABASE_URL="https://gcefuigvngofxwsqlodi.supabase.co"

